# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Logs
*.log

# NuGet
*.nupkg
packages/
.nuget/

# Rider / VS Code
.idea/
.vscode/

# Others
*.tmp
*.temp